button {
    margin-bottom: 20%
}

#checkoutContainer{
    display: flex;
    flex-direction: column;

    margin-left: 10%;
    margin-top: 5%;

    height: 100%;
}

#checkoutPageTitle{
    display: flex;
    flex: 1;
    font-size: 4rem;
    margin-bottom: 5rem;
}



.item {
    display: flex;
    flex-direction: column;

    background-color: black;
    border: 2px solid white;

    border-radius: 4px;
    
    width: auto;
    max-width: 90%;
    margin-bottom: 1rem;
}

.itemTitle{
    color: #cbff5e;

    margin-top: 1.5rem;
    margin-left: 1rem;

    font-size: 1.5rem
}

.itemDetailsContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;


    margin-left: 2rem;
}

.detailColumn {
    display: flex;
    flex-direction: column;

}
.detailCategory{
    font-size: 1.25rem;

    color: rgb(178, 178, 178);

    margin-bottom: 1rem;
}

.detailValue{
    font-size: 1rem;

    margin-bottom: 1rem;
}


.removeButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-right: 2rem;
}
.removeButton{
    color: rgb(255, 255, 255);

    border: 4px solid rgb(255, 255, 255);
    height: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;

    justify-content: center;
}



#totalContainer {
    display: flex;
    flex-direction: column;

    width: auto;
    max-width: 90%;

    margin-top: 2rem;
    margin-bottom: 1rem;
}

#subtotal{
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    justify-content: space-between;

    margin-bottom: 0.5rem;
}

#fee{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;

    border-bottom: 2px solid white;
}

#total{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

#buttonContainer{
    display: flex;
    justify-content: flex-end;

    width: 100rem;
    max-width: 90%;
    
}


#continueToPaymentButton{
    display: flex;
    justify-content: flex-end;
    border: 3px solid white;
    color: white;
    background-color: black;
    border-radius: 2px;
    font-family: 'Orbitron', sans-serif;
    width: 300px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: color 0.75s, border-color 0.75s;
    text-decoration: none;
}

#continueToPaymentButton:hover {
    color: #cbff5e;
    border-color: #cbff5e;
    cursor: pointer;
}

/* Working on quantity changer */

#addToCartQuantityContainer {
    display: flex;

    flex-direction: row;

    justify-content: space-between;
}

.quantityContainer {
    display: flex;

    flex-direction: row;
    
    justify-content: center;

    padding-top: 0.3rem;
    color: white;
    width: 2rem;
}

.quantityChangeButton{
    background-color: orange;
    border: 2px solid black; 
    border-radius: 4px;
    color: white;
    cursor: pointer;

    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size : 1rem;
    font-weight: bold;

    height: 2rem;
    text-align: center;
}

.deliveryFeeCheckout {
    font-size: 1.6rem;
}

.totalCheckout {
    font-size: 1.6rem;
}

.price {
    font-size: 1.6rem;
}