/* Container + headers for all the drinks */
#drinks {
    color: red;
}

#drinksContainer{
    display: flex;
    flex-direction: column;

    margin-left: 10%;
    margin-top: 5%;

    height: 100%;
}

#drinksPageTitle{
    display: flex;
    flex: 1;
    font-size: 4rem;
    margin-bottom: 5rem;
}

#itemsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;

    background-color: black;
    border: 4px solid white;

    border-radius: 4px;
    border-color: white;
    max-width: 90%;

    padding-top: 2rem;
    margin-bottom: 1rem;
}

#itemContainer{
    display: flex;

    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: white;
    
    flex-basis: 20%;

    flex-direction: column;
    align-items: center;

    padding: 2rem;
    margin-bottom: 2rem;
}

/* Image sizing + positioning */

#imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    width: 20rem;
}

#itemPic {
    height: 200px;
    max-width: 20rem;
    object-fit:cover;
}

#itemDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#itemTitle {
    color: black;
    margin-top: 1rem;
}

#itemCost {
    color: black;
    margin-top: 1rem;
}

/* Add to cart + change the quantity */

.added-to-cart-message {
    display: inline-block;
    margin-left: 8px;
    background-color: #4caf50;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.9rem;
}

#addToCartContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: -4rem;
}

#addToCartButton{
    background-color: white;
    border: 2px solid black; 
    border-radius: 4px;
    color: black;
    cursor: pointer;

    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size : 1rem;
    font-weight: bold;


    width:10rem;
    text-align: center;

    margin-right: 4rem;
}

#addToCartButton:hover {
    border: 2px solid black;
    background-color:#cbff5e;
    outline: none;
    transition: color 0.75s;
}

#addToCartQuantityContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#quantityContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 0.3rem;
    color: black;
    width: 2rem;
}

.quantityChangeButton{
    background-color: orange;
    border: 2px solid black; 
    border-radius: 4px;
    color: white;
    cursor: pointer;

    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size : 1rem;
    font-weight: bold;

    height: 2rem;
    text-align: center;
}