/* general home styling */
#home {
    padding-top: 5%;
}

div {
    color: white;
    font-family: Orbitron, 'Courier New', Courier, monospace;
}

/* upper container styling */
#upperHomeContainer {
    padding: 0 10% 0 10%;
    display: flex;
    width: 80%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

#gridPic {
    height: 60%;
    max-height: 500px;
    width: 100%;
    position: absolute;
    z-index: -5;
    opacity: 20%;
}

/* upper container left side of screen */
#futureOfPizzaTextAndButton {
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

#theFutureOfPizza {
    position: relative;
    margin: 20% 0 3% 0;
    font-size: 4.25rem;
    font-weight: 750;
    letter-spacing: 2px;
    line-height: 1;
    overflow: hidden;
    color: white;
}

#theFutureOfPizzaSubtext {
    font-family: "Open Sans", 'Courier New', Courier, monospace;
    font-size: 1.25rem;
}

#orderNowLink {
    display: flex;
    margin-top: 4%; 
    background-color: #f93f1d;
    height: 38px;
    width: 233px;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px; 
    cursor: pointer; 
    font-family: Orbitron, 'Courier New', Courier, monospace; 
}

/* upper container right side of screen */
#pizzaWrapper {
    position: relative;
    display: inline-block;
    width: 50%;
    height: auto;
}

#pizzaOnWindowSillPic {
    height: 10%;
    width: 100%;
    max-height: 500px;
    max-width: 675px;
    border-radius: 5%;
}

#whiteCircle {
    position: absolute;
    bottom: 50px;
    left: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}

/* middle container styling */
#middleHomeContainer {
    display: flex;
    width: 100vw;
    margin-top: 5%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #cbff5e;
}

#engineeredToPerfectionTextAndSubtext {
    font-family: Orbitron, 'Courier New', Courier, monospace;
    color: black;
}

#engineeredToPerfection {
    display: flex;
    justify-content: center;
}

#engineeredToPerfectionSubtext {
    display: flex;
    justify-content: center;
}