/* general styling */
#locationsComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title styling */
#locationsComponentTitleContainer {
    display: flex;
    width: 78.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: fit-content;
}

#locationsComponentTitleText {
    font-size: 3.5rem;
    margin: 0 0 0 0;
}

/* image styling */
#locationsImage {
    width:755px;
    height:388px;
}


#locationsInfoContainerContainer {
    border: 5px solid blue;
    width: 70%;
    display: flex;
    justify-content: center;
    border: 4px solid #cbff5e;
    margin-top: 5%;
    border-radius: 4px;
    font-size: 2.3rem;
}

#locationsInfoContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    max-width: 90%;
    margin-bottom: 1rem;
}

#imageAndAddresses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#locationsContainer {
    margin: 10% 0 0 0 !important;
    border: 0 !important;
    width: 100% !important;
    max-width: none !important;
}

.location {
    width: 100% !important;
    padding-left: 0 !important;
    display: flex;
    align-items: center;

}

.locationInfoContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.locationTitle {
    padding-left: 5%;
    width: 40% !important;
    max-width: 255px !important;
}

.locationStreetContainer {
    width: calc(100%*0.3333333);
}

.addressContainer {
    padding-right: 10% 
}