/* general styling */
#locationsComponent-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title styling */
#locationsComponentTitleContainer-lp {
    display: flex;
    width: 78.5%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: fit-content;
}

#locationsComponentTitleText-lp {
    font-size: 3.5rem;
    margin: 0 0 0 0;
}

/* image styling */
#locationsImage-lp {
    width:755px;
    height:388px;
}

#locationsInfoContainer-lp {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    max-width: 90%;
    margin-bottom: 1rem;
}

#imageAndAddresses-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

#locationsContainer-lp {
    width: 100%;
    min-width: 900px;
    max-width: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location-lp {
    width: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;

}

.locationInfoContainer-lp {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 5%;
}

.locationTitle-lp {
    padding: 0 5% 0 5%;
    width: 40%;
    max-width: 255px;
    font-size: 1.8rem;
    color: #cbff5e;
}

.locationStreetContainer-lp {
    width: calc(100%*0.3333333);
}

.addressContainer-lp {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    width: 70%;
    min-width: 540px;
    justify-content: space-between;
}

.locationCityTitle-lp {
    text-decoration: underline;
    color: #cbff5e;
}

.locationStreetTitle-lp {
    text-decoration: underline;
    color: #cbff5e;
}

.locationStateTitle-lp {
    text-decoration: underline;
    color: #cbff5e;
}

.locationZipTitle-lp {
    text-decoration: underline;
    color: #cbff5e;
}

.locationCityContainer-lp {
    width: 130px;
}

.locationStreetContainer-lp {
    width: 170px;
}

.locationStateContainer-lp {
    width: 120px;
}

.locationZipContainer-lp {
    width: 120px;
}