button {
    margin-bottom: 20%
}

#registerContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 5%;
}

/* @media (max-width: 768px) {
    .register-container {
      flex-direction: column;
      align-items: flex-start;
    }
  } */

h2 {
    text-decoration: none;
}

.registerPageTitle{
    font-size: 4rem;
    margin-bottom: 5rem;
}

.registerBoxTitle{
    color: white;
}

.registerBox {
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    height: 25px;
    width: 450px;
}

.registerBox:focus {
    border: 2px solid #cbff5e;
    outline: none;
    transition: border-color 0.75s;
}

/* Modify the border of the box while text entries are invalid */
.registerBox.invalid {
    border: 2px solid #ff5e5e;
    outline: none;
    transition: border-color 0.75s, color 0.75s;
}

#usernameTitle.invalid {
    color: #ff5e5e;
}

#passwordTitle.invalid {
    color: #ff5e5e;
}

#emailTitle.invalid {
    color: #ff5e5e;
}

#usernameTitle.valid {
    color: #cbff5e;
}

#passwordTitle.valid {
    color: #cbff5e;
}

#emailTitle.valid {
    color: #cbff5e;
}

.registerButton{
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;

    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-size : 1rem;
    font-weight: bold;

    padding: 0.5rem 1rem;

    text-align: center;
    line-height: 10px;

    height: 30px;
}

.registerButton:hover {
    border: 2px solid #cbff5e;
    color: #cbff5e;
    outline: none;
    transition: border-color 0.75s, color 0.75s;
}

.formAndPicture {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    z-index: 1;
}